html,body {
    margin: 0;
    padding: 0;
    background-color: #E6F7F1;
  }
  /* Mục home */
.box {
    width: 100%;
    height: 60px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    box-sizing: border-box;
  }
.container {
  display: flex;
  justify-content: space-around;
  margin-top: 30px;
  padding: 0 10px;
  gap: 10px;
}
.logo {
    width: 56px;
    left: 10px;
    position: relative;
}

.menu ul {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: flex-end;
    padding: 0 30px;
    box-sizing: border-box;
    gap: 90px;
}
.menu a {
    text-decoration: none;
    color: brown;
    font-weight: bold;
    font-size: 17px;
    transition: all 0.3s ease;
    display: inline-block;
}
.menu a:hover {
    transform: scale(1.2);
    color: cadetblue;
}
.post {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: whitesmoke;
    box-shadow: 0 3px 6px rgba(0,0,0,0.1);
    box-sizing: border-box;
}
.post input.post-title,
.post textarea.post-content {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    box-sizing: border-box;
    font-size: 13px;
}
.post textarea.post-content {
    margin-top: 20px;
    resize: vertical;
    min-height: 80px;
}
.post button.post-bt {
    padding: 10px;
    margin-top: 30px;
    background-color: peachpuff ;
    font-weight: bold;
    font-size: 15px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.post button.post-bt:hover {
    background-color: brown;
}
/* Mục nhật ký */
.diary-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#nhatky h2 {
  font-family: sans-serif;
  margin: 20px;
  text-align: center;
}
.diary-box {
  background: #fefefe; /* nền sáng */
  width: 200px;
  min-height: 150px;
  border: 1px solid #ddd; /* viền nhẹ */
  border-radius: 8px; /* bo góc mềm mại */
  box-shadow: 0 3px 6px rgba(0,0,0,0.1); /* đổ bóng */
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  transition: transform 0.3s, box-shadow 0.3s; /* hover mượt */
  cursor: pointer;
}

.diary-box p {
  text-align: center;
  color: #555;
}

.diary-box:hover {
  box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

/* Nút xóa */
.delete-btn {
  position: absolute;
  top: 10px;
  right: 12px;
  border: none;
  background: transparent;
  font-size: 18px;
  color: #999;
  cursor: pointer;
  opacity: 0;
  transform: scale(0.9);
  transition: 0.2s;
}

/* Hover mới hiện */
.diary-box:hover .delete-btn {
  opacity: 1;
  transform: scale(1);
}

.delete-btn:hover {
  color: #e74c3c;
}

#gioithieu p {
  padding: 0 20px;
  text-align: justify;
  font-size: 20px;
  line-height: 1.7;
  letter-spacing: 0.5px;
}


